.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
}

.banner-content {
  max-width: 50%;
}

.banner h1,
.banner p {
  color: white;
}

.banner h1 {
  font-size: 3.2rem;
}

.banner-image {
  height: 500px;
  object-fit: contain;
}